.card {
  background-color: rgba(184, 195, 255, 0.598);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 150px;
}
.description {
  color: rgb(108, 108, 108);
  font-size: 12px;
}
.title {
  color: rgb(108, 108, 108);
  font-size: 16px;
  font-weight: 200;
}
.line {
  height: 2px;
  background-color: rgb(108, 108, 108);
  width: 80%;
}
